<ul class="toc">
    <li class="toc-expander"><i class="fa fa-caret-down"></i></li>
    <li class="tocheader">
        <ul>
            <li class="{% if page.url == "/docs/api/ui/index_zh_TW.html" %} active{% endif %}"><a href="/docs/api/ui/index_zh_TW.html">編輯器</a></li>
            <li><a style="text-decoration: none !important; font-weight: bold">API</a></li>
            <li {% if page.url contains "/docs/api/ui/actions" %}class="active"{% endif %}><a href="/docs/api/ui/actions/index_zh_TW.html">RED.actions</a></li>
            <li {% if page.url contains "/docs/api/ui/events" %}class="active"{% endif %}><a href="/docs/api/ui/events/index_zh_TW.html">RED.events</a></li>
            <li {% if page.url contains "/docs/api/ui/notifications" %}class="active"{% endif %}><a href="/docs/api/ui/notifications/index_zh_TW.html">RED.notify</a></li>
            <li {% if page.url contains "/docs/api/ui/sidebar" %}class="active"{% endif %}><a href="/docs/api/ui/sidebar/index_zh_TW.html">RED.sidebar</a></li>
            <li><a style="text-decoration: none !important; font-weight: bold">小部件</a></li>
            <li {% if page.url contains "/docs/api/ui/autoComplete" %}class="active"{% endif %}><a href="/docs/api/ui/autoComplete/index_zh_TW.html">AutoComplete</a></li>
            <li {% if page.url contains "/docs/api/ui/editableList" %}class="active"{% endif %}><a href="/docs/api/ui/editableList/index_zh_TW.html">EditableList</a></li>
            <li {% if page.url contains "/docs/api/ui/searchBox" %}class="active"{% endif %}><a href="/docs/api/ui/searchBox/index_zh_TW.html">SearchBox</a></li>
            <li {% if page.url contains "/docs/api/ui/treeList" %}class="active"{% endif %}><a href="/docs/api/ui/treeList/index_zh_TW.html">TreeList</a></li>
            <li {% if page.url contains "/docs/api/ui/typedInput" %}class="active"{% endif %}><a href="/docs/api/ui/typedInput/index_zh_TW.html">TypedInput</a></li>
            <li><a style="text-decoration: none !important; font-weight: bold">佈景主題</a></li>
            <li {% if page.url contains "/docs/api/ui/themes" %}class="active"{% endif %}><a href="/docs/api/ui/themes/index_zh_TW.html">佈景主題外掛</a></li>
        </ul>
    </li>
</ul>
