<ul class="toc">
    <li class="toc-expander"><i class="fa fa-caret-down"></i></li>
    <li class="tocheader">
        <ul>
            <li class="toctitle active"><a href="/docs/api/index_zh_TW.html">API 參考</a>
        </ul>
    </li>

    <li class="tocheader">
        <ul>
            <li class="toctitle{% if page.url == "/docs/api/modules/index_zh_TW.html" %} active{% endif %}"><a href="/docs/api/modules/index_zh_TW.html">模組 API</a>
        </ul>
    </li>
    <li class="tocheader">
        <ul>
            <li class="toctitle{% if page.url == "/docs/api/admin/index_zh_TW.html" %} active{% endif %}"><a href="/docs/api/admin/index_zh_TW.html">管理員 HTTP API</a>
            <li {% if page.url == "/docs/api/admin/oauth/index_zh_TW.html" %}class="active"{% endif %}><a href="/docs/api/admin/oauth/index_zh_TW.html">身分驗證</a>
            <li {% if page.url == "/docs/api/admin/types/index_zh_TW.html" %}class="active"{% endif %}><a href="/docs/api/admin/types/index_zh_TW.html">類型</a>
            <li {% if page.url == "/docs/api/admin/errors/index_zh_TW.html" %}class="active"{% endif %}><a href="/docs/api/admin/errors/index_zh_TW.html">錯誤</a>
            <li {% if page.url contains "/docs/api/admin/methods" %}class="active"{% endif %}><a href="/docs/api/admin/methods/index_zh_TW.html">方法</a>
        </ul>
    </li>
    <li class="tocheader">
        <ul>
            <li class="toctitle{% if page.url == "/docs/api/storage/index_zh_TW.html" %} active{% endif %}"><a href="/docs/api/storage/index_zh_TW.html">儲存區 API</a>
            <li {% if page.url contains "/docs/api/storage/methods" %}class="active"{% endif %}><a href="/docs/api/storage/methods/index_zh_TW.html">方法</a>
        </ul>
    </li>
    <li class="tocheader">
        <ul>
            <li class="toctitle{% if page.url == "/docs/api/context/index_zh_TW.html" %} active{% endif %}"><a href="/docs/api/context/index_zh_TW.html">上下文儲存區 API</a>
            <li {% if page.url contains "/docs/api/context/methods" %}class="active"{% endif %}><a href="/docs/api/context/methods/index_zh_TW.html">方法</a>
            <li {% if page.url contains "/docs/api/context/store/memory" %}class="active"{% endif %}><a href="/docs/api/context/store/memory/index_zh_TW.html">記憶體儲存區</a>
            <li {% if page.url contains "/docs/api/context/store/localfilesystem" %}class="active"{% endif %}><a href="/docs/api/context/store/localfilesystem/index_zh_TW.html">檔案儲存區</a>
        </ul>
    </li>
    <li class="tocheader">
        <ul>
            <li class="toctitle{% if page.url == "/docs/api/ui/index_zh_TW.html" %} active{% endif %}"><a href="/docs/api/ui/index_zh_TW.html">編輯器小部件</a>
            <li {% if page.url contains "/docs/api/ui/editableList" %}class="active"{% endif %}><a href="/docs/api/ui/editableList/index_zh_TW.html">EditableList</a>
            <li {% if page.url contains "/docs/api/ui/searchBox" %}class="active"{% endif %}><a href="/docs/api/ui/searchBox/index_zh_TW.html">SearchBox</a>
            <li {% if page.url contains "/docs/api/ui/treeList" %}class="active"{% endif %}><a href="/docs/api/ui/treeList/index_zh_TW.html">TreeList</a>
            <li {% if page.url contains "/docs/api/ui/typedInput" %}class="active"{% endif %}><a href="/docs/api/ui/typedInput/index_zh_TW.html">TypedInput</a>
        </ul>
    </li>
</ul>
